html{
    box-sizing:border-box;
}
*,*:before *:after{
    box-sizing: inherit;
}
.contenedor{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.text-centrado{
    text-align: center;
}
/* ---- ---- ENCABEZADO ---- ---- */

header{
    border-bottom: 1px solid #c1c1c1;
}

.logo_img{
    width: 150px;
    height: 150px;
}

div.logo{
    text-align: center;
}

@media only screen and (min-width:768px){
    div.logo{
        text-align: left;
    }  
    .contenedor{
        position: relative;
    }  
    .informacion-encabezado{
        position: absolute;
        top: 0;
        right: 0;
    }
    div .direccion p{
        text-align:right;
    }
}
@media only screen and (min-width:992px){
    div.logo{
        text-align: center;
    }
}

/* ---- ---- Menu Redesociales ---- ---- */
.sociales ul{
    text-align: center;
    list-style: none;
    padding: 0;
    text-decoration: none;
}
@media only screen and (min-width:768px){
    .sociales ul{
        float: right;
    }
}
nav .sociales ul li{
    position: relative;
    display: inline-block;
    text-decoration: none;
}

nav .sociales ul li a::before{
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 30px;
    color: black;
    content: '\f08e';
}
nav .sociales li a[href*="facebook.com"]::before{
    content: '\f09e';
}

/* ---- ---- MENU PRINCIPAK ---- ---- */
nav .menu-sitio {
    display: none;
}
@media only screen and (min-width:768px){

    nav .menu-sitio {
        display: block;
    }
}
nav .menu-sitio ul{
    list-style: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
} 
nav .menu-sitio ul li a{
    text-decoration: none;
}
nav .menu-sitio ul li{
    text-align: center;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}
.current_page_item{
    border-bottom: 8px solid #a61206;
}
nav .menu-sitio ul li:hover{
    background-color:#f19f30;
}

@media only screen and (min-width:769px){
    nav .menu-sitio ul li{
        display: table-cell;
        width: 1%;
    }
}
/* ---- ---- Responsibe menu ---- ---- */
@media only screen and (max-width:767px){
    .mobile-menu a {
        height: 40px;
        background-color: #a61206 ;
        width: 100%;
        color: white !important;
        display: block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
}
@media only screen and (min-width:767px){
    .mobile-menu a {
        display: none;
    }
}

/* ---- ---- TEmplate Contenido ---- ---- */

.hero{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* ---- ---- ajustar a espacion disponible ---- ---- */
    background-color: #000000;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    display: table;
    position: relative;
}
hero::after{ /* ---- ---- es una capa sobre efondo  ---- ---- */
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6); 
}
.contenido-hero{
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    width:  100vw;
    z-index: 2;
}
@media only screen and (min-width:768px){
   .text-hero{
       width: 80%;
       margin: 0 auto;
   }
}
@media only screen and (min-width:992px){
    .text-hero{
        width: 60%;
    }
 }
.principal{
    padding: 60px;
    background-color: #ffffff;
    position: relative;
}
@media only screen and (min-width:768px){
    .principal{
        margin-top: -90px;
    }
}

.contenido-paguinas p{
    font-size: 18px;
    line-height: 50px;
}