
html{
    box-sizing:border-box;
}
*,*:before *:after{
    box-sizing: inherit;
}
.contenedor{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.text-centrado{
    text-align: center;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.text-rojo{
    color: #a61206;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
img{
    max-width: 100%;
    height: auto;
}
.clear,
.clear::after{
    content: '';
    clear: both;
    display:block;
}
/* ---- ---- ENCABEZADO ---- ---- */
header.encabezado_sitio{
    border-bottom: 1px solid #c1c1c1;
}

.contenedor-header{
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.logo_img{
    width: 100px;
    height: 100px;
}

.logo a{
    display: block;
    text-align: center;
    font-size: 80px;
    color: #f19f30;
    text-decoration: none;
}

div.logo{
    text-align: initial;
}
/* ---- ---- Menu Redesociales ---- ---- */
.informacion-encabezado{
    color: #f19f30;
    display: flex;
    justify-content: space-around;
}
.redes-sociales{
    padding-right: 20px;
}
.sociales{
    width: 60px;
}
#menu-social .menu-item {
    padding: 5px 0px;
}
.menu  .menuitem a{
    list-style: none;
    text-decoration: none;
}
#menu-social .menu-item a{
    color: #f19f30;
    list-style: none;
    text-decoration: none;
    padding: 3px;
}
.direcciones{
    padding-top: 15px;
}

/* Desktop only style */
@media (max-width:1150px) {

}

/* Tablet only style */
@media (min-width:767px) and (max-width:1150px) {
    div.logo{
        text-align: start;
    }  
    .logo_img{
        width: 60px;
        height: 60px;
    }

    .contenedor-header{
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .logo a{
        display: block;
        text-align: start;
        font-size: 80px;
        color: #f19f30;
    }

    .informacion-encabezado{
        color: #f19f30;
        display: flex;
        justify-content: space-between;
    }
    .redes-sociales{
        padding-right: 30px;
    }
    #menu-social .menu-item {
        padding: 10px 0px;
    }
    #menu-social .menu-item a{
        color: #f19f30;
        padding: 3px;
    }
    .direcciones{
        padding-top: 5px;
        font-size: 20px;
    }
}

/* Mobile only style */
@media (max-width:787px) {
    div.logo{
        text-align: start;
    }  
    .logo_img{
        width: 60px;
        height: 60px;
    }
    .contenedor-header{
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .logo_img{
        width: 100px;
        height: 100px;
    }

    .logo a{
        display: block;
        text-align: start;
        font-size: 20px;
        color: #f19f30;
    }

    .informacion-encabezado{
        color: #f19f30;
        display: flex;
        justify-content: space-between;
    }
    .redes-sociales{
        padding-right: 60px;
    }
    #menu-social .menu-item {
        padding: 10px 0px;
    }
    #menu-social .menu-item a{
        color: #f19f30;
        padding: 3px;
    }
    .direcciones{
        padding-top: 5px;
    }
}


/* ---- ---- MENU PRINCIPAK ---- ---- */
nav .menu-sitio {
    display: none;
}
@media only screen and (min-width:768px){

    nav .menu-sitio {
            display: block;
    }
}
nav .menu-sitio ul{
    list-style: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
} 
nav .menu-sitio ul li a{
    text-decoration: none;
}
nav .menu-sitio ul li{
    text-align: center;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.menu-sitio ul .current_page_item,
nav.menu-sitio ul li.current_page_parent{
    border-bottom: 8px solid #a61206;
}
nav .menu-sitio ul li:hover{
    background-color:#f19f30;
}

@media only screen and (min-width:769px){
    nav .menu-sitio ul li{
        display: table-cell;
        width: 1%;
    }
}
/* ---- ---- Responsibe menu ---- ---- */
@media only screen and (max-width:767px){
    .mobile-menu a {
        height: 40px;
        background-color: #a61206 ;
        width: 100%;
        color: white !important;
        display: block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
}
@media only screen and (min-width:767px){
    .mobile-menu a {
        display: none;
    }
}

/* ---- ---- TEmplate Contenido ---- ---- */
 .hero{
    width: 100%;
 } 


.hero{
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* ---- ---- ajustar a espacion disponible ---- ---- */
    background-color: #000000;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    display: table;
    position: relative;
}

.hero::after{ /* ---- ---- es una capa sobre efondo  ---- ---- */
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6); 
}
.contenido-hero {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    width:  100%;
    z-index: 2;
}
.contenido-hero .texto-hero{
    padding: 0px 250px;
}
.principal{
    padding: 60px;
    background-color: #ffffff;
    position: relative;
}

@media only screen and (min-width:768px){
    .principal{
        margin-top: -90px;
    }
}
/* Mobile only style */
@media (max-width:787px) {

    .contenido-hero .texto-hero{
        padding: 0px 2px !important;
        width: 70%;
        margin: 0 auto;
    }
    .hero{
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; /* ---- ---- ajustar a espacion disponible ---- ---- */
        background-color: #000000;
        height: 450px;
    }
    
    .hero::after{ /* ---- ---- es una capa sobre efondo  ---- ---- */
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6); 
    }
    .contenido-hero {
        width:  100%;
        z-index: 2;
    }
    .contenido-paguinas p{
        font-size: 18px;
        line-height: 50px;
    }
    
    .contenido-hero .texto-hero{
        padding: 0px 100px;
    }
    .principal{
        padding: 30px;
    }
 }



/* ---- ---- FOOTER ---- ---- */
footer{
    margin-top: 30px;
    padding: 30px 0;
    border-top:1px solid #c1c1c1;
    text-align: center;
}
footer nav ul{
    list-style: none;
}
footer nav ul li{
    display: inline;
}
footer nav ul li:last-child .separador{ /* ---- ---- elimina ultimo cepoarador y ocultar ---- ---- */
    display: none;
}
footer nav ul li a {
    color: #000000;
    text-transform: uppercase; /* ---- ---- Traformar a mayuscula ---- ---- */
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

}
footer .ubicacion{
    margin-top: 20px
}
footer p{
    margin: 0 0 5px 0;
    font-size: 14px;
}
.copyright{
    margin-top: 20px;
}
/* ---- ---- Cajas de imagenes sobre nosotros ---- ---- */
.info-cajas-main{
    display: flex;
    align-items: center;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
    justify-content: center;
    /* padding: 0 60px; */
    height: 300px;
    flex-direction: row;
}
.info-cajas-main{
    display: row;
    
}
.contenido-caja{
    width: 100% !important;
}
.informacion-caja{
    height: 193px;
    padding-bottom: 20%;
}
.informacion-caja img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; 
}
.informacion-caja > div{
    text-align: center;
}
@media only screen and (min-width:400px){
    .informacion-caja > div{
        display: block;
        width: 50%;
    }
   
}
.informacion-caja > div:last-child{
    width: 100%;
}
@media only screen and (min-width:768px){
    .informacion-caja > div{
        width: 100%;
    }
    .informacion-caja > div:last-child{
        width: 100%;
    }
}
.pin1{
    line-height: 27px;
}
.pin2{
    line-height: 30px;

}


.cont{
    display: block;
    max-width: 500px;
    width: 100%;
}
/* Mobile only style */
@media (max-width:787px) {
    .info-cajas-main{
        flex-wrap: wrap;
    }
    .info-cajas-main{ 
        padding-bottom: 140vh;
    }
    .contenido-caja{
        width: 100% !important;
    }
    .informacion-caja{
        height: 193px;
        padding-bottom: 30vh;
    }
    .pin2{
        line-height: 30px;
    }
}


/* ESPECIALIDADES */

.nuetras-espicialedades{
    padding: 0 60px;
}
.texto-especialidad{
    padding: 20px;
}
.texto-especialidad h4{
    border-bottom: 1px solid #dfdfdd;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.texto-especialidad h4 span{
    float: right;
    font-size: 30px;
    color: #f19f30;
    font-family: 'Open Sans', sans-serif;
}

.texto-especialidad p{
    color: #3d3d3d;
    line-height: 30px;
}
/* Mobile only style */
@media (max-width:787px) {
    .nuetras-espicialedades{
        padding: 0 5px;
    }
}
/* GRID */

@media only screen and (min-width:768px){
    .contenedor-grid{
        margin-left: -10px;
        margin-right: -10px;
    }
    .contenedor-grid::after{
        content: '';
        display: block;
        clear: both;
    }
    [class*="columnas"]{
        padding: 0 10px;
        float: left;
    }
    .columnas1-4 {
        width: 25%;
    }
    .columnas2-4 {
        width: 31%;
    }
    .columnas2-44 {
        width: 47%;
    }
    .columnas3-4 {
        width: 75%;
    }
    .columnas1-4 {
        width: 33.3%;
    }
    .columnas2-3 {
        width: 66.6%;
    }

}

/* ---- ---- BOLG ---- ---- */
.entrada-blog{
    padding-right: 40px;
}

article .entrada-blog img{
    margin-top: 30px;
}
header.informacion-entrada{
    margin-top: 20px;
}
.contenido-paguinas p{
    font-size: 18px;
    line-height: 30px;
}

header.informacion-entrada div.fecha{
    background-color: #f19f30;
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 10px; 
    padding: 5px 10px 5px 0px;
}

header.informacion-entrada div.fecha time{
    font-size: 30px;
    font-family: 'Releway', sans-serif;
    font-weight: 700;
}
header.informacion-entrada div.fecha time span{
    font-size: 20px;
    display: block;
    clear: both;
    text-transform: uppercase;
}

header.informacion-entrada  .titulo-entrada h3{
    margin-top: 20px;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
header.informacion-entrada  .titulo-entrada p{
    margin: 0;
}
header.informacion-entrada{
    float: right;
    width:  calc(100% - 10px);
}
header.informacion-entrada h2{
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
header.informacion-entrada p.autor{
    text-transform: uppercase;
    color: #505050;
    margin-top: 10px;
    font-family: 'Releway', sans-serif;
}
p.autor i{ 
    font-size:30px;
    color: #f19f30;
}
div.contenido-entrada p{
    margin-bottom: -30;
}
.button.rojo{
    background-color: #a61206; 
    font-family: 'Open Sans' ,sans-serif;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease; 
}
.contenido-entrada a{
    margin-top: 5px !important;
}
.button.rojo:hover{
    background-color: #f19f30;
    letter-spacing: 2px;
}
.button.naranja{
    background-color: #f19f30; 
    font-family: 'Open Sans' ,sans-serif;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease; 
}
.button.naranja:hover{
    background-color: #a61206;
    letter-spacing: 2px;
}
sidebar{

}

ul{
    list-style: none;
}
.cat-item{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
}
.cat-item a{
    text-decoration: none;
}

li a{
    text-decoration: none;
}
ul.lista-comentarios li.comment .comment-author{
    margin-bottom: 20px;
}
ul.lista-comentarios li.comment a{
    color: #a61206;
    text-decoration: none;
}
ul.lista-comentarios li.comment ul.children li{
    background-color: white;
    margin-top: 20px;
}
/* Mobile only style */
@media (max-width:787px) {
    .cat-item a{
        font-size: 30px;
    }
}

/* ---- ---- SIDEBAR ---- ---- */
form.searchform{
    position: relative;
}
form.searchform #searchsubmit{
    position: absolute;
    top:0;
    right: 0;
    width: 42px;
    height: 42px;
    background-color: #a61206;
    text-indent: -999px;
    border: none;
    cursor: pointer;
}
from.searchfrom div input{
    width: 100%;
    padding: 10px;
}
aside .widget{
    margin-bottom: 20px;
}
aside .widget h3{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

/* ---- ----Comentario  ---- ---- */
div.comentarios h3{
    font-weight: 700;
    text-align: center;
}

@media only screen and (min-width:992px){
    div.comentarios{
        width: 60%;
    }
}
div.comentarios form label{
    width: 300px;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

div.comentarios form input,
div.comentarios form textarea{
    padding: 10px;
    width: calc(100% - 220px);
}


div.comentarios form input[type='submit']{
    background-color: #a61206;
    font-family: 'Opn Sans', sans-serif;
    font-size: 16px;
    width: auto;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 80px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: backgroud-color .5s ease;
    cursor: pointer;
}
div.comentarios form input[type='submit']{
    margin: 0 auto;
    display: block;
    border: none;
}
/* 
 Paguinacion 
*/
.paginacion{
    margin-top: 20px;
    background-color: #e1e1e1;
    padding: 20px;
    display: inline-block;
    border-radius: 20px; 
}

.paginacion a{
    color: #a61206;
    text-decoration: none;
}
.paginacion a:hover{
    text-decoration: underline;
}
.paginacion .current{
    font-weight: bold;
    color: #555555;
}

/* ---- ---- Galeria ---- ---- */
.wp-block-gallery li figure img{
    width: 50%;
    margin: 0;
}
@media only screen and (max-width:767px){
    .wp-block-gallery li figure{
        width: 75%;
        width: calc((100% - 6px));
    }
    .blocks-gallery-item{
        margin-right: 0px;    
    }
}
/* ---- ---- CONTACTo ---- ---- */

div.contacto{
    background-image: url(../img/Manjar.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}
@media only screen and (min-width:768px){
    form.reserva-contacto{
        margin-left: 10%;
    }
}
form.reserva-contacto .campo{
    margin-bottom: 20px;
    width: 80%;

}
form.reserva-contacto h2{
    font-size: 20px;
    font-weight: 700;
}

form.reserva-contacto .campo input,
form.reserva-contacto .campo textarea{
    width: 100%;
    border: 3px solid #000000;
    padding: 15px 15px;
}
form.reserva-contacto .campo textarea{
    height: 200px;
}
/* cambiar el color del :placeholder */
form.reserva-contacto ::-webkit-input-placeholder{
    color: #000000 !important;
}
form.reserva-contacto ::moz-placeholder{ 
    color: #000000 !important;
}
form.reserva-contacto :moz-placeholder{ /* ---- ---- Firefox ---- ---- */
    color: #000000 !important;
}
form.reserva-contacto ::ms-placeholder{ /* ---- ---- EXplores ---- ---- */
    color: #000000 !important;
}
form.reserva-contacto input[type="submit"]{
    border: none;
    margin: 0 auto;
    display: block;
}
/* Front page INICIO*/
.hero{
    height: 650px;
}
@media only screen and (min-width:768px){

    .texto-hero{
        text-align: center;
        margin: 0px;

    }
    .home .text-hero{
        line-height: 40px;
        font-size: 18px;
    }
}  

.contenido-especialidad{
    position: relative;
    overflow: hidden;
}
.informacion-platillo{
    position: absolute;
    top: 100%;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 159, 48, .75);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    padding: 5px;
    transition: all .5s ease-in-out;
    opacity: 0;
}
.informacion-platillo .precio{
    font-size: 60px;
    font-weight: bold;
}
.informacion-platillo p{
    margin:0 0 10px 0;
}
.informacion-platillo h3{
    font-size: 30px;
    margin-top: 40px;
    font-weight: 700;
}
@media only screen and (max-width: 767px){
    div.contenido-especialidad{
        overflow: visible;
        display: block;
        margin-bottom: 30px;
    }
    .contenido-especialidad img{
        width: 100%;
    }
    .informacion-platillo{
        position: relative;
        opacity: 1;
        background-color: #f19f30;
        padding: 30px;
    }
}
.contenido-especialidad:hover .informacion-platillo{
    top: 0;
    opacity: 1;
}

/* Ingredientes */

.ingredientes{
    background-image: url(../img/madera.jpg);
    padding: 80px 0;  /*80 arriba y abajo 0 a izquierda y derecha */
    color: #ffffff;
}
.ingredientes-pizza{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
    padding: 0px 60px;  /*80 arriba y abajo 0 a izquierda y derecha */
}
.ingredientes-text{
    width: 60%;
    padding-right: 190px;
}
.ingredientes-imagen{
    align-self: center;
    text-align: left;
    margin: 20px right;
    width: 80%;
}
.ingredientes h3{
    line-height: 40px;
    font-size: 40px;
    font-weight: 700;
}
.ingredientes p{
    line-height: 30px;
    font-size: 20px;
}
/* Mobile only style */
@media (max-width:787px) {
    .ingredientes{
        background-image: url(../img/madera.jpg);
        padding: 80px 0;  /*80 arriba y abajo 0 a izquierda y derecha */
        color: #ffffff;
    }
    .ingredientes-pizza{
        text-align: center;
        display: flex;
        flex-wrap: wrap; 
        padding: 0px 10px;  /*80 arriba y abajo 0 a izquierda y derecha */
    }
    .ingredientes-text{
        padding: 0px 20px;
        width: 100%;
    }
    .ingredientes-imagen{
        padding: 0px 40px;
        width: 100%;
    }
    .ingredientes h3{
        line-height: 40px;
        font-size: 40px;
        font-weight: 700;
    }
    .ingredientes p{
        line-height: 30px;
        font-size: 20px;
    }
}


/* Ubicasiones y reservacion */
.ubicacion-resevacion div{
    margin-left: 0px; 
     margin-right: 0px;
}
section.ubicacion-resevacion{
    background-image: url('../img/poster.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; 
}

.columnas2-44 form.reserva-contacto{
    margin: 0;
    padding: 50px;
    
}

.columnas2-44 form.reserva-contacto h2{
    color: #ffffff !important;
    font-size: 34px;
    text-align: center;
    float: left;
}
.columnas2-44 form.reserva-contacto .campo input,
.columnas2-44 form.reserva-contacto .campo textarea{
    background-color: transparent !important;
    border: 4px solid #ffffff !important;
    color: #ffffff !important;
}
.columnas2-44 form.reserva-contacto  ::-webkit-input-placeholder{
    color: #ffffff!important;
}
.columnas2-44 form.reserva-contacto :-moz-placeholder{
    color: #ffffff!important;
}
.columnas2-44 form.reserva-contacto ::-moz-placeholder{
    color: #ffffff!important;
}
.columnas2-44 form.reserva-contacto .campo input[type="datetime-local"]{
    color: #ffffff!important;
}
.columnas2-44 form.reserva-contacto .campo input[type="submit"]{
    border: none !important;
    background-color: #a61206 !important;
    display: inline !important;
}

#mapa{
    height: 500px;
}